/* ==========================================================================
   Menus
   ========================================================================== */
.menu-menu-1-container {
	display:none;
}


.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: auto;
	max-width:950px;
	position: absolute;
	margin: 0 auto;
	float: right;
	z-index: 9999;
	background-color:#fff;
	display:none;
	min-height:400px;
	padding: 10px 0 35px 0;
	top:100px;

	h3{
		padding-bottom:3px;

		a {
		color:$red;
		transition: color 0.3s ease;

		
			&:hover{
				color:$color-3;
			}
		}
	}

	.first-column {
		margin-left:0;
		padding-left:0;
	}

	.second-column {
		padding-top:16px;
	}

	.spacing-menu {
		width: 6.6666%;
		position: relative;
		height: 80%;
		float: left;
		border-left: 1px solid $color-4;
		margin-top:-2px;
		}

	.last-menu-column {
		height:80%;
		padding-left: 0;
		margin-top:0px;
		text-align:left;

		li:first-child {
			display: none;
		}
	}
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.first-column ul li {
	-webkit-columns: 2 100px;
	-moz-columns: 2 100px;
	columns: 2 100px;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	width: 50%;
}

.main-navigation li {
	float: left;
	position: relative;
	display: block;
	width: 100%;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	width: auto;
	margin:0;
	right:0;
	display:inline-block;
	padding-right: 15px;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	width:auto;
	text-align: right;
	padding-left: 15px;
	border-left:1px solid $color-2;
}


#menufication-btn:before{
display:none;
}

#menufication-non-css3-btn:before{
	display:none;
}

#menufication-non-css3-btn, #menufication-non-css3-btn p{
	width: 110px;	
}

#menufication-top p, #menufication-non-css3-top p {
margin: 0 auto !important;
color: #848586 !important;
padding-right: 20px;
position: relative;
display: inline;
float: right;
letter-spacing: 1px;
color: #848586;
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
font-weight: 800;
padding-top: 10px !important;
}

#menufication-top, #menufication-non-css3-top {
box-shadow: 0 1px 4px rgba(0,0,0,.15) !important;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.15) !important;
}

#menufication-outer-wrap.light #menufication-top, #menufication-outer-wrap.light #menufication-non-css3-top, #menufication-non-css3-outer-wrap.light #menufication-top, #menufication-non-css3-outer-wrap.light #menufication-non-css3-top {
background: #fff !important;
}

#menufication-outer-wrap.right-direction #menufication-top #menufication-btn {
width:120px !important;
}

#menufication-top #menufication-header-logo, #menufication-non-css3-top #menufication-non-css3-header-logo {
max-height: 60px;
height: 60px;
}

#menufication-top #menufication-header-logo, #menufication-non-css3-top #menufication-non-css3-header-logo {
max-height: 25px !important;
height: 25px !important;
margin-top: 15px !important;
}

#menufication-nav ul:first-child, #menufication-nav .menufication-menu-level-0, #menufication-non-css3-nav .menufication-non-css3-menu-level-0 {
background: #fff !important;
}



#menufication-outer-wrap.light #menufication-scroll-container {
background:#fff !important;
margin-right: -15px !important;
-webkit-box-shadow: inset 7px 0 7px -8px rgba(0,0,0,.4) !important;
-moz-box-shadow: inset 7px 0 7px -8px rgba(0,0,0,.4) !important;
box-shadow: inset 7px 0 7px -8px rgba(0,0,0,.4) !important;
}

#menufication-nav ul:first-child, #menufication-nav .menufication-menu-level-0, #menufication-non-css3-nav .menufication-non-css3-menu-level-0 {
padding-left: 0!important;
}

#menufication-nav {
margin-left:5px !important;
}

#menufication-nav img {
	margin-left: -22px !important;
	max-width:190px !important;
	margin-top: 10px !important;
}

#menufication-nav-left img {
margin-left: -30px !important;
max-width: 190px !important;
}

div#wp_menufication-multiple-content {
width: 110%;
top: 0;
margin: 0;
}

form > div > div:nth-child(2) {
position: absolute;
width: 40px;
height: 31px;
right: 38px;
top: 13px;
background-image: url('http://jenlewinstudio.com/wp-content/uploads/2015/01/search-icon-white.png');
background-color: #848586;
background-repeat: no-repeat;
background-position-x: 10px;
background-position-y: 5px;
border-radius: 0 2px 2px 0;
}

#menufication-nav li form input[type=submit], #menufication-non-css3-nav li form input[type=submit] {
display: block;
background: none !important;
}
#menufication-nav li form input {
width:150px !important;
margin-left:10px !important;
height:32px !important;
}

#menufication-nav a {
padding-left:10px !important;
}	

#menufication-nav-left ul:first-child, #menufication-nav-left .menufication-menu-level-0, #menufication-non-css3-nav .menufication-non-css3-menu-level-0 {
background: #fff !important;
}

#menufication-nav-left ul:first-child, #menufication-nav .menufication-menu-level-0, #menufication-non-css3-nav .menufication-non-css3-menu-level-0 {
padding-left: 0!important;
}

#menufication-nav-left {
margin-left:5px !important;
}

#menufication-nav-left a {
padding-left:10px !important;
}




#menufication-multiple-container, #menufication-non-css3-multiple-container {
width: 250px !important;
top: -38px!important;
-webkit-box-shadow: inset 0px 0 7px 0px rgba(0, 0, 0, .3);
-moz-box-shadow: inset 0px 0 7px 0px rgba(0, 0, 0, .3);
box-shadow: inset 0px 0 7px 0px rgba(0, 0, 0, .3);
}

#menufication-outer-wrap.light #menufication-multiple-container, #menufication-non-css3-outer-wrap.light #menufication-multiple-container {
background: #fff!important;
min-height:1100px;
}

.menufication-menu-level-1 {
	margin-right: 5px;
}

.menufication-menu-level-1 li {
	padding: 13px 0 13px 0;
	list-style: none;
	position: relative;
	line-height: 1!important;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E8E7E7;
}

.menufication-menu-level-1 li a, .menufication-menu-level-0 li a {
	letter-spacing: 1px;
	color: #848586;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
}

#menufication-scroll-container {
	width:250px !important;
	position: absolute !important;
	padding-top: 30px !important;
	min-height: 1000px;
}